body {
  margin: 0;
  min-width: 250px;
  background-image: linear-gradient(to right, #cdcdcd , #8FB5E2);
}
.container{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  background-color: #fff;
  
}
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}
.all{
padding-top: 20px}
.task {
  margin-left: 30px;
  font-size: 30px;
  color: #6eafe7;
font-family: 'Spirax', cursive;


}
/* Remove margins and padding from the list */
ul {
  margin-left: 50px;
  padding:0px;
}
/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #fff;
  font-size: 18px;
  transition: 0.2s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) 
ul li:nth-child(odd) {
  background: #f9f9f9;
}*/

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
  margin-left: 10px;
   transition: 0.8s;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #6eafe7;
  color: #fff;
  text-decoration: line-through;
  margin-right: 40px
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/*.fas {
  position: fixed;
  right: 25px;
  bottom: 25px;
}*/

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  margin-right: 30px
}

.close:hover {
  background-color: #cdcdcd;
  color: white;
}

/* Style the header */
.header {
  background-color: #fff;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  margin-left: 30px
}
 input:focus {
  border: 2px solid #009788;
  transition: 0.8s;
}
/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 50px;
  height: 50px;
  background: #6eafe7;
  color: #fff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 100%;
  margin-left: 120px
}
.fas{
  margin-top: 6px
}
.addBtn:hover {
  background-color: #bbb;
   transition: 0.8s;

}
